{
	auto_https off
	admin off
}

__HUB_HOST__, __HUB_IP__ {
	tls /certs/fullchain.pem /certs/privkey.pem
	encode gzip
	reverse_proxy hub:9883 {
		flush_interval -1
		header_up X-Forwarded-Proto https
		header_up X-Forwarded-Host __HUB_HOST__:__HUB_PORT__
		header_up X-Forwarded-Port __HUB_PORT__
		transport http {
			read_timeout 0
			write_timeout 0
		}
	}
}
